.List {
  background-color: rgba(150, 150, 150, 0.3);
  width: 232px;
  border-radius: 8px;
  padding: 1em;
  margin: 0.25em 0.25em 0 0;
}

input, button {
  background-color: inherit;
  border: 0px;
}
